{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <h1>
        Home page
    </h1>
    <div class="container" style="padding:10px">
        <div class="card mb-3 h-100">
            <div class="card-header">
                <h3>
                    Our Project: Zomato Recommender System
                </h3>
            </div>     
            <div class="card-body"> 
                <p = class="text-center">Submitted by:</p>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-center">Feyaz Baker, 181CO119</td>
                            <td class="text-center">Bhadra Giri, 181CO113</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
            <hr>

            We made a system that takes user preferences, and uses that information to identify other restaurants they may enjoy. 
        </div>
    </div>
{% endblock %}